<!DOCTYPE html>
<html>
<head>
  <title>Camping Website - About</title>
  <link rel="stylesheet" href="/styleAbout.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="team">
    <h1>Meet Our Team</h1>
    <img id="team-img" src="/images/team.jpg">
    <p>We are a group of camping enthusiasts who love to explore the great outdoors. Our mission is to inspire others to experience the joys of camping and connect with nature.</p>
  </div>
   
  <div id="favorite-locations">
    <h2>Our Favorite Locations</h2>

    <div class="location-container">
      <div class="location">
        <img src="/images/loc1.jpg" alt="Location 1">
        <h3>Camping Rino</h3>
        <p>Camping Rino is most beautiful place around the Ohrid Lake, it's 3 km far from Struga City and 16 km from Ohrid City. Every day is different at this place, you can enjoy our coffe, tradicional rakia and tradicional food. Town is quite and amazing view near Lake. Don't miss tradicional Rakia. Don't miss this place, you can feel your self like HOME.
          Any time for you, Wellcome to Camping Rino, Kalista, Struga, Macedonia and " FEEL LIKE HOME "</p>
      </div>
      
      <div class="location">
        <img src="/images/loc2.jpg" alt="Location 2">
        <h3>Camping SCOUT Struga</h3>
        <p>Camping Scout Struga is a small camping site located on the edge of the city of Struga on the shore of the Ohrid Lake. The perfect positioning only 1000 meters from the city center, 800 meters from the main green market, and with 5 different beaches on a radius of 600 meters makes it unique for young people that want active vacation and partying on a walking distance, and families that prefer quiet camping under full day deep shadows of 50 year old trees, and yet close to the main city happenings.</p>
      </div>
      
      <div class="location">
        <img src="/images/loc3.jpg" alt="Location 3">
        <h3>Grebnos RV Park / Camping</h3>
        <p>Welcome to Grebnos RV Park! Our RV Park / Camperplaats / Stellplatz is located 20 km southwards along the Ohrid lake. If you are interested in using our campsite with RV vehicles / Campers or tents, just send us an e-mail at spopstefanija@yahoo.com or write us on Whatsapp at Tel: 0038971387241 and we will gladly help you. The site is located on the other side of the picturesque fishing village of Trpejca. The exact coordinates are: 40.9579° N, 20.7809° E</p>
      </div>
      
      <div class="location">
        <img src="/images/loc4.jpg" alt="Location 4">
        <h3>Rock Land Camp</h3>
        <p>Convenient location of Rockland camp allows for travelers find it easily, and use it for stop point on the way to (or out) Greece, through the Macedonia. Rockland camp it's a place about 6000 m², located in the pretty town Demir Kapija. On the land of camping there are one guest house and summer kitchen, where you can prepare food and have a rest. In guest house there are: one common room with two-storey beds for 6 persons and one communicating room with a sofa for one or two person, the kitchen with a refrigerator, gas stove, crockery and all necessary appliances, two toilet blocks with showers (for male and female).</p>
      </div>
  
      <div class="location">
        <img src="/images/loc5.jpg" alt="Location 5">
        <h3>Autokamp Gradishte</h3>
        <p>In the thick shadows of the pine forest and in a wonderful atmosphere, there are several hundred caravans, bungalows and tents whose occupants share unforgettable moments every year in one of the most well-kept camps in Macedonia.
          The building covers almost 90,000 m2 on the shore of Lake Ohrid.
          "Gradiste" auto camp has bungalows, caravans and free plots for setting up private tents or caravans.</p>
      </div>
  
      <div class="location">
        <img src="/images/loc6.jpg" alt="Location 6">
        <h3>River Camp Matka -Salamander</h3>
        <p>Dear campers,nature lovers and adventurers. This season 2021 the camp side will be CLOSED due to the pandemic situation. I apologize for the inconvenience, have a nice summer and be healthy!</p>
      </div>
    </div>
  </div>
  </body>
</html>
